
.container {
  max-width: 100%;
  padding-left: rem(20px);
  padding-right: rem(20px);
  @media(min-width: $sm) {
    padding-left: rem(38px);
    padding-right: rem(38px);
  }
  @media(min-width: $md) {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
  @media(min-width: $lg) {
    width: rem(1590px);
  }
}
.hidden-xs {
  @media (max-width: 1023px) {
    display: none !important;
  }
}
.visible-xs {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

.flex {
  display: flex;
}
._jcsb {
  justify-content: space-between;
}
._jcc {
  justify-content: center;
}
._jcfe {
  justify-content: flex-end;
}
._fdc {
  flex-direction: column;
}
._aic {
  align-items: center;
}
._aifs {
  align-items: flex-start;
}
._aife {
  align-items: flex-end;
}
._full-width {
  width: 100%;
}
._full-width-xs {
  @media(max-width: $xs) {
    width: 100%;
  }
}
._centered {
  margin: 0 auto;
}
._max-height-full {
  height: 100%;
}
._p0 {
  padding: 0;
}
._order-1 {
  @media(max-width: $sm) {
    order: -1;
  }
}
._pl0-xs {
  @media(max-width: $sm) {
    padding-left: 0;
  }
}