
.container {
  @media(min-width: $sm) {
    padding-left: rem(35px);
    padding-right: rem(35px);
  }
  @media(min-width: $md) {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
  @media(min-width: $lg) {
    max-width: rem(1200px);
  }
}
.hidden-xs {
  @media (max-width: 1023px) {
    display: none !important;
  }
}
.visible-xs {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

.section__title {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 auto rem(40px);
  font-size: rem(24px);
  line-height: rem(29px);
  font-family: "Bold";
  color: $yellow;
  &:before,
  &:after {
    content: "";
    width: rem(27px);
    height: rem(3px);
    display: inline-block;
    margin: rem(12px) rem(8px) 0;
    background: currentColor;
  }
  span {
    flex: 0;
  }
  &._red {
    color: $red_font;
  }
  @media (min-width: $sm) {
    margin: 0 auto rem(65px);
    align-items: center;
    font-size: rem(28px);
    line-height: rem(34px);
    span {
      flex: 0;
      white-space: nowrap;
    }
    &:before,
    &:after {
      width: rem(37px);
      height: rem(4px);
      margin: 0 rem(26px);
    }
  }
}
._red {
  color: $red_font;
}
a._red {
  border-bottom: 1px solid currentColor;
  transition: .3s;
  &:hover {
    border-color: transparent;
  }
}
.captcha {
  width: 100%;
  overflow: hidden;
  margin-bottom: rem(15px);
}

.captcha > div > div {
  margin: 0 auto;
}

.captcha iframe {
  transform: scale(0.8);
  margin-left: rem(-15px);
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.captcha.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.retail {
  @media (min-width: $md) {
    .hero {
      .container {
        max-width: rem(1200px);
      }
      &__row {
        align-items: center;
      }
      &__col {
        flex: auto;
        &:first-of-type {
          flex: 0 0 40%;
          padding-right: rem(100px);
        }
      }
    }
  }
}
